.DS_Store
node_modules

# /dist exclude
/dist/src
/dist/css
/dist/img
/dist/js
/dist/service*
/dist/workbox*
/dist/manifest.json
/dist/index.html

/tests/e2e/logs/
package-lock.json
GoogleService-Info.plist

# Capacitor
capacitor.config.ts

# local env files
.env.local
.env.*.local
.env
# Env for typescript workaround
env.ts

#Firebase config
.firebaserc
.firebase/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android copy
/android/firebase_credentials.json
/android/firebase_credentials.json.b64
/android/.env
/android/app/google-services.json
/android

# iOS
/ios

#Components
components.d.ts

# Gems
Gemfile.lock
