import { CapacitorConfig } from '@capacitor/cli';

const config: CapacitorConfig = {
  appId: 'we.design.android',
  appName: 'we.design',
  webDir: 'dist',
  bundledWebRuntime: false
};

export default config;
